<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="Header">
      <h1>Animal Clinic</h1>
      <a href="/animals">Animals</a>
      <a href="/diseases">Diseases</a>
      <a href="/infections">Infections</a>
      <a href="/owners">Owners</a>
    </div>
    <%= yield %>
  </body>
</html>
